<div class="card mt-5 d-flex flex-column align-items-center" style="width: 18rem;">
    
        <h2>No tan secret</h2>
        <img class="card-img-top" src="/images/gatito.jpg" alt="gatito">
        <a class="btn btn-primary" href="/">Go back</a>
    
</div>